@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;0,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    font-family: Montserrat;
    background-color: #fff;
}

header {
    background-color:#FFF2F3;
}

nav {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .50s ease;
    padding: 18px 0;
}

nav p {
    color: #252B42;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.00625rem;
}

nav .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    
}

nav .navbar {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
}


.navbar a {
    color: #737373;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    transition: all 0.50s ease;
    text-decoration: none;
}

.navbar a:hover {
    color: #96BB7C;
}

.navbar a.active{
    color: #96BB7C;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 50%;
}

.login a {
    color: #96BB7C;
    margin-left: 25px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 0.0125rem;
    text-decoration: none;
    transition: all 0.50s ease;
}

.login button:first-child {
    display: flex;
    padding: 0.9375rem 1.5625rem;
    align-items: center;
    gap: 0.9375rem;
    border-radius: 0.3125rem;
    background: #96BB7C;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 0.0125rem;
    border: none;
    min-width:max-content;
    transition: all 0.50s ease;
}

.join {
    transition: all 0.50s ease;
}

.login button:first-child:hover > .join {
    transform: scale(1.3);
}



.menu-button {
    background-color: transparent;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: none;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: #96BB7C;
    border-radius: 5px;
    height: 5px;
    position: absolute;
    transition: all 0.5s;
    width: 40px;
}

.menu-icon::before,
.menu-icon::after {
    content: ""; 
}

.menu-icon::before {
    transform: translate(0px, -12px);
}

.menu-icon::after {
    transform: translate(0px, 12px);
}

#togglemenu:checked ~ .menu-icon {
    background-color: transparent;
    transform: rotate(720deg);
}

#togglemenu:checked ~ .menu-icon::after {
    transform:  rotate(-45deg);
}

#togglemenu:checked ~ .menu-icon::before {
    transform:  rotate(45deg);
}


#togglemenu {
    display: none;
}


.welcome {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.welcome_1 {
    display: flex;
    width: 35.8125rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875rem;
    flex-shrink: 0;
}

.welcome_text1 {
    color: #96BB7C;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.00625rem;
}

.welcome_1 h1 {
    width: 33.875rem;
    color:#252B42;
    font-size: 3.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0.0125rem;
}

.welcome_text2 {
    width: 21.125rem;
    color:#737373;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    letter-spacing: 0.0125rem;
}

.button_box {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
}

.button_box button {
    display: flex;
    padding: 0.9375rem 2.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
}

.button_box1 {
    border-radius: 0.3125rem;
    background: #96BB7C;
    border: none;
    color: var(--light-text-color, #FFF);
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 0.0125rem;
}

.button_box2 {
    border-radius: 0.3125rem;
    background: #FFF;
    border: none;
    color: #96BB7C;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
    letter-spacing: 0.0125rem;
    border: 1px solid #96BB7C;
}

.button_box button:hover > .join {
    transform: scale(1.3);
}

.welcome2 {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.welcome2 img {
    width: 100%;
}

main {
    background: #FFF;
}

.section1_div {
    width: 75%;
    display: flex;
    gap: 1.875rem;
    align-items: center;
    margin: 0 auto;
    padding: 10rem 0px;
}

.section1_div1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
}

.section1_div1 h2 {
    color:#252B42;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
    letter-spacing: 0.0125rem;
}

.section1_div1 p {
    color:#737373;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
}

.section1_div1 a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
}

.section1_div1 a p {
     color: #96BB7C;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 5.875rem;
    height: 0.4375rem;
    background: #E74040;
}
.section1_div2 {
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
}

.section1_container {
    display: flex;
    width: 50%;
    padding: 2.1875rem 2.5rem;
    flex-direction: column;
    gap: 1.25rem;
}

.section1_svg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.625rem;
    padding: 1.375rem 1.1875rem;
    background: #96BB7C;
    width: 100px;
    height: 100px;
}

.section1_svg svg {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.section1_title {
    color:#252B42;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.00625rem;
    width: 9.8125rem;
}

.section1_block {
    width: 3.125rem;
    height: 0.125rem;
    background:#E74040;
}

.section1_txt {
    color: #737373;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
}

.section2_div {
        width: 75%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 10rem 0px;
        justify-content: space-between;
}

.section2_img {
    width: 50%;
    height: 34.3125rem;
    text-align: right;
}

.section2_img img {
    width: 86%;
    min-height: 100%;
}

.section2_div2 {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    flex-shrink: 0;
}

.section2_block {
    width: 5.875rem;
    height: 0.4375rem;
    background: #E74040;
}

.section2_div2 h2{
    color:#252B42;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
    letter-spacing: 0.0125rem;
}

.section2_div2 p {
    color:#737373;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
}

.section2_div2 a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
}

.section2_div2 a p {
     color: #96BB7C;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3_div {
    display: flex;
    width: 75%;
    padding: 10rem 0rem;
    flex-direction: column;
    gap: 6rem;
    flex-shrink: 0;
    margin: 0 auto;
}

.section3_div1master{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section3_div1 {
    display: flex;
    width: 66%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
}

.section3_div1 p:first-child {
    color:#96BB7C;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}
.section3_title {
    color:#252B42;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
    letter-spacing: 0.0125rem;
}

.section3_txt {
    color:#737373;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0125rem;
    }
.section3_div1 a {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    text-decoration: none;
}

.section3_div1 a p {
     color: #96BB7C;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3_div2 {
    display: flex;
    align-items: flex-start;
    gap: 0.9375rem;
    width: 75%;
    margin: auto;
    overflow-x: scroll;
    }

.product_card {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}

.product_cover {
    background-image: url(/img/product-cover-233\ sec-.png);
    width: 120%;
    height: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.sale{
    display: inline-flex;
    padding: 0rem 0.625rem;
    align-items: center;
    position: absolute;
    border-radius: 0.1875rem;
    background:#E74040;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    top: 1.25rem;
    left: 1.25rem
}

.sale p {
    color:#FFF;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0125rem;
}

.product_action {
    position: absolute;
    display: inline-flex;
    align-items: flex-start;
    gap: 0.625rem;
    bottom: 1.25rem;
    margin: auto;
    left: 2rem;
    right: 2rem;
}

@media screen and (max-width: 900px) {
    nav {
        width: 80%;
        min-width: max-content;
    }
}

@media  screen and (max-width: 750px) {
    
    .bar .navbar {
        position: absolute;
        top: 75px;
        right: 10%;
        height: 29vh;
        background: #fff;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 10px;
        transition: all 0.50s ease;
    }



    .navbar a{
        display: none;
        width: 100%;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.50s ease;
    }

    

    .navbar a:hover {
        background-color: #96BB7C;
        transform: scale(1.2);
        color:#fff
    }

    .login {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .login .menu-button {
        margin-left: 30px;
    }
   
    .menu-button {
        display: block;
        padding: 18px 0;
    }
}


@media screen and (max-width: 425px) {
   nav {
    display: flex;
    width: 60%;
   }

   .login {
    width: 80%;
   }

    nav p {
        font-size: 1rem;
    }

   .login button:first-child {
    font-size: 0.8rem;
    padding: 5px 10px;
   }
}